# Flutter/Dart
.dart_tool/
.packages
pubspec.lock

# Build files
build/
android/app/build/
ios/Pods/

# IDE files
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
*.log
*.tmp

.env
key.properties
google-services.json